In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
#Data collection and pre processing
raw_mail_data=pd.read_csv('mail_data.csv')
raw_mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
#Replacing null values with empty string
mail_data=raw_mail_data.where((pd.notnull(raw_mail_data)),'')
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
mail_data.shape

(5572, 2)

In [5]:
#Label encoding
#spam=0, ham=1
mail_data.loc[mail_data['Category']=='spam','Category']=0
mail_data.loc[mail_data['Category']=='ham','Category']=1

In [6]:
mail_data.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [7]:
#Seperating the data as text and label
X=mail_data['Message']
Y=mail_data['Category']

In [8]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will Ã¼ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [9]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [10]:
#Splitting the data into training and test data
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [11]:
print(X_train.shape)
print(X_test.shape)

(4457,)
(1115,)

In [12]:
#Feature extraction(Transform the text data to feature vectors that can be used as input for our model)
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')
X_train_features=feature_extraction.fit_transform(X_train)
X_test_features=feature_extraction.transform(X_test) 

#Converting Y_train and Y_test to integers
Y_train=Y_train.astype('int')
Y_test=Y_test.astype('int')

In [13]:
print(X_train_features)

  (0, 3422)	0.6418008618863358
  (0, 3960)	0.40459749284424307
  (0, 4776)	0.2937599690543961
  (0, 4486)	0.4933198981059812
  (0, 3101)	0.30778739607068667
  (1, 3855)	0.4410710256765374
  (1, 4574)	0.4410710256765374
  (1, 2534)	0.4410710256765374
  (1, 814)	0.4410710256765374
  (1, 4555)	0.4205367990464199
  (1, 2902)	0.2120712188920981
  (2, 3398)	0.5133141633463273
  (2, 1317)	0.34462014146959175
  (2, 432)	0.4077104256374456
  (2, 4294)	0.36445133334144264
  (2, 2503)	0.5133141633463273
  (2, 4776)	0.2349500626979615
  (3, 1138)	0.6489221209014988
  (3, 1160)	0.44843330753299465
  (3, 3378)	0.38536596088088965
  (3, 3118)	0.3618113574629584
  (3, 3778)	0.31367701143832527
  (4, 3805)	1.0
  (5, 3731)	0.6020708068994186
  (5, 7381)	0.7984426989330436
  :	:
  (4454, 348)	0.2816333253882664
  (4454, 110)	0.3000941484572203
  (4454, 2067)	0.25658354936739225
  (4454, 4488)	0.3000941484572203
  (4454, 651)	0.3000941484572203
  (4454, 373)	0.23959800001827322
  (4454, 796)	0.2816333253882664
  (4454, 7430)	0.1801037942222884
  (4454, 7343)	0.4498896407891956
  (4454, 6911)	0.1653057679612594
  (4454, 6902)	0.21937394005137992
  (4454, 1621)	0.18784292855815676
  (4454, 7311)	0.1949753381818719
  (4454, 1665)	0.21130971337962476
  (4454, 7011)	0.14040083857773877
  (4455, 2434)	0.617585164773377
  (4455, 5750)	0.5526101356478642
  (4455, 4311)	0.3634744995680554
  (4455, 3424)	0.4255548030452034
  (4456, 6077)	0.5490155787253892
  (4456, 4416)	0.4542018586423069
  (4456, 2724)	0.40079007123433724
  (4456, 5910)	0.3950554110813791
  (4456, 6769)	0.2873431830527075
  (4456, 2135)	0.30498360947948605

In [14]:
#Training the model
model=LogisticRegression()
model.fit(X_train_features,Y_train)

LogisticRegression()

In [15]:
#Evaluating the trained model
prediction_on_training_data=model.predict(X_train_features)
accuracy_on_training_data=accuracy_score(Y_train,prediction_on_training_data)

In [16]:
accuracy_on_training_data*100

96.7915638321741

In [17]:
#Evaluating test model
prediction_on_test_data=model.predict(X_test_features)
accuracy_on_test_data=accuracy_score(Y_test,prediction_on_test_data)

In [18]:
accuracy_on_test_data*100

96.68161434977578

In [32]:
#Building a predictive system
input_mail=["I HAVE A DATE ON SUNDAY WITH WILL!!"]
input_mail_features=feature_extraction.transform(input_mail)
prediction=model.predict(input_mail_features)
prediction

if prediction[0]==1:
    print("Mail is ham")
else:
    print("Mail is spam")

Mail is ham